body{
	margin: 0;
	padding: 0;
	background-image: url("../img/back.png");
	background-repeat: repeat;

}
.leftPanel{
	width: 35%;
	height: 100%;
	background-color: white;
	box-shadow: 5px 5px 15px rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: -100%;
}
.main-header{
	width: 100%;
	min-height: 75px;
	background-color: #fff;
	box-shadow: 5px 5px 15px rgba(0,0,0,.5);
	border-bottom: 2px solid #fff;
}
.main-header .brand{
	float: left;
	font-size: 32px;
	font-weight: 900;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #0f0f0f;
	margin-left: 16px;
	padding-right: 16px;
	height: 65px;
	text-shadow: 1px 2px 5px rgba(0,0,0,.5);
	margin-top: 5px;
	line-height: 65px;
}
.main-header .fio{
	float: left;
	font-size: 20px;
	font-weight: 900;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #0f0f0f;
	margin-left: 16px;
	height: 65px;
	margin-top: 10px;
	line-height: 65px;
}
.main-header .items{
	float: right;
	height: 75px;
	line-height: 75px;
}
.main-header .items ul{
	height: 75px;
	padding: 0;
}
.main-header .items ul li{
	height: 75px;
	width: 100px;
	line-height: 75px;
	display: inline-block;
}
.main-header .items ul li a{
	padding-left: 5px;
	display: block;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	width: 100%;
	text-align: center;
	padding-right: 5px;
	height:75px;
	color: black;
	font-size: 16px;
	font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.main-header .items ul li a:hover{
	background-color: rgba(0,0,0,.7);
	color: white;
}
.main-header .items ul li .exit:hover{
	background-color: rgba(255,0,0,.8);
	color: white;
}
.main-header .items ul li .exit{
	padding-left: 5px;
	display: block;
	width: 100%;
	text-align: center;
	padding-right: 5px;
	height:75px;
	color: black;
	font-size: 16px;
	font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.main-header .find{
	float: right;
	height: 75px;
	line-height: 75px;
}

.right_block{
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	margin-top: 300px;
	padding: 32px;
	background-color: #fff;
}
.right_block input{
	width: 100%;
	height: 40px;
	text-align: center;
	border: none;
	border: .3px solid #ccc;
	background: none;
}
.right_block .sign-btn {
	background-color: #599e50;
}
.right_block .sign-btn:hover{
	background-color: #47de2a;
	background-image: none;
}
.right_block .sign-btn:active{
	background: none;
	background-color: #599e50;
	border: 1px solid #47de2a;
}
.font-16-black{
	font-size: 16px; font-weight: 700; color: #000
}
.left-menu{
	width: 100%;
}
.shadow{
	background-color: #fff;
	margin-top: 16px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 15px rgba(0,0,0,.5);
	padding: 16px;
	padding-bottom: 50px;
	display: block;
}
.fileItem{
	width: 15.5%;
	height: 120px;
	margin-left: 1%;
	margin-top: 1%;
	padding: 0px;
	display: inline-block;
	float: left;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.fileItem:hover{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background-color: #f5f5f5;
}
.fileItem * {
	color: #000000;
	font-weight: 700;
}
.commandLine{
	width: 100%;
	height: 40px;
}
.commandLine .back-btn{
	border: none;
	background: none;
	border-radius: 5px;
	background-color: #3c3c3c;
	color: #fff;
	margin-right: 5px;
}
.commandLine .load-btn{
	border: none;
	background: none;
	color: #fff;
	border-radius: 5px;
	background-color: #3c3c3c;
	margin-right: 5px;
}
.commandLine .delete-btn{
	border: none;
	background: none;
	color: #fff;
	border-radius: 5px;
	background-color: #3c3c3c;
	margin-right: 5px;
}

@media screen and (max-width: 1920px){
	.leftPanel{
		width: 35%;
	}
}
@media screen and (max-width: 1280px){
	.fileItem{
		width: 24%;
	}
	.leftPanel{
		width: 50%;
	}
}
@media screen and (max-width: 780px){
	.fileItem{
		width: 32%;
	}
	.leftPanel{
		width: 100%;
	}
	.headmenu {
		height: 150px;
		width: 100%;
		display: block;
	}
	.headmenu li{
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 480px){
	.fileItem{
		width: 49%;
	}
	.leftPanel{
		width: 100%;
	}
	.headmenu {
		height: 150px;
		width: 100%;
		display: block;
	}
	.headmenu li{
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 240px){
	.fileItem{
		width: 100%;
	}
	.leftPanel{
		width: 100%;
	}
	.headmenu {
		height: 150px;
		width: 100%;
		display: block;
	}
	.headmenu li{
		width: 100%;
		display: block;
	}
}

.line{
	width: 100%;
	height: 50px;
	display: inline-block;
	border-bottom: 2px solid #ccc;
	margin: 0;
	padding: 0;
}
.line .item-line{
	width: auto;
	max-width: 20%;
	text-align: left;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
}